<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>OccuCoin | About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<header id="header">
				<h1><a href="/">OccuCoin</a> by Esteem</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="#" class="icon solid fa-angle-down">More</a>
							<ul>
								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/privacy">Privacy</a></li>
							</ul>
						</li>
						<% if (locals.username) { %>
							<li><a href="/profile"><i class="fa fa-user" style="margin-right: 10px;"></i>Hello, <%= locals.username %></a></li>
							<li><a href="/app" class="button">Open App</a></li>
							<li><a href="/logout" class="button">Logout</a></li>
						<% } else { %>
							<li><a href="/login" class="button default">Login</a></li>
							<li><a href="/signup" class="button">Sign Up</a></li>
						<% } %>
					</ul>
				</nav>
			</header>
			
			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>About Us</h2>
						<hr />
					</header>
					<div class="box">
						<span class="image featured"><img src="images/a+.png" alt="" /></span>
						<h3>A is for Average</h3>
						<p>We are average middle school students who want our peers to get good grades. Therefore, we created this kind of product in order to help at least a little bit on the motivation side of our peers to get the good grades. Our goal is to make at least half of the students to have all A’s throughout the whole entire school year in Altona and to have students improve on their study habits without getting bored by adding this virtual currency called Occucoin, which they can use at the end of the quarter for whatever they want to use for.</p>
					</div>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Esteem Inc. All rights reserved.</li><li style="font-size: 0.75rem;">Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>