<!DOCTYPE HTML>
<html>
	<head>
		<title>OccuCoin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<style>
			body {
				opacity: 0.5;
				animation: in 1s forwards;
			}

			@keyframes in {
				to {
					opacity: 1;
				}
			}

			#gxew34857 {
				opacity: 0;
				transform: translateY(-20px);
				animation: in2 2s ease forwards;
			}

			@keyframes in2 {
				to {
					opacity: 1;
					transform: translateY(20px);
				}
			}
		</style>
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/">OccuCoin</a> by Esteem</h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="#" class="icon solid fa-angle-down">More</a>
							<ul>
								<li><a href="/about">About</a></li>
								<li><a href="/contact">Contact</a></li>
								<li><a href="/privacy">Privacy</a></li>
							</ul>
						</li>
						<% if (locals.username) { %>
							<li><a href="/profile"><i class="fa fa-user" style="margin-right: 10px;"></i>Hello, <%= locals.username %></a></li>
							<li><a href="/app" class="button">Open App</a></li>
							<li><a href="/logout" class="button">Logout</a></li>
						<% } else { %>
							<li><a href="/login" class="button default">Login</a></li>
							<li><a href="/signup" class="button">Sign Up</a></li>
						<% } %>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
				<section id="banner">
					<h2 id="gxew34857" style="font-weight: 1000">OccuCoin</h2>
					<p style="text-transform: uppercase; font-size: 1.5rem;">Motivation made better.</p>
					<ul class="actions special">
						<% if (locals.username) { %>
							<li><a href="/app" class="button primary">Open App</a></li>	
						<% } else { %>
							<li><a href="/signup" class="button primary">Sign Up</a></li>
						<% } %>
						<li><a href="/about" class="button">Learn More</a></li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
              <h2>Introducing the <b>ultimate currency</b> <br /> to help sustain and motivate you.</h2>
							<p>We support both the personal side and commercial side of things. <br /> Want to have a competition between friends? We've got you covered. Want to have your entire school have better grades? We've got you covered. Anything else? We've got you covered. (contact us!)</p>
						</header>
						<span class="image featured"><img src="./images/birch.png" alt="Little Birch" /><p><b>Meet Little Birch. He's our representative here to help you!</b></p></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-handshake accent2"></span>
								<h3>Trustworthy</h3>
								<p>You can trust us! The data you get is always going to be yours forever. We will not use your data for anything. We were featured in the <a href="https://www.forbes.com/media/?sh=5ad0855d2164">Forbes Business</a> Magazine, The Washington Post, and PCMag!  </p>
							</section>
							<section>
								<span class="icon solid major fa-chart-area accent3"></span>
								<h3>Proven to Work</h3>
								<p>By motivating students to earn coins, we will see a 74% increase in school academics, according to a Harvard Study. Furthermore, according to a private study, we found middle schoolers tend to spend 2-5 hours on their screens, and by rewarding students for not being on their screens, we can reduce later health risks. </p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon solid major fa-cloud accent4"></span>
								<h3>Sophisticated Algorithms</h3>
								<p>We use incredibly efficient algorithms to help make sure you stay on top of your grades. This will make sure you have the best chance of getting your OccuCoin every time.</p>
							</section>
							<section>
								<span class="icon solid major fa-lock accent5"></span>
								<h3>Guaranteed Security</h3>
								<p>This website is implemented with top-tier firewalls, hosting, backups, and more, to make sure you have the best experience possible.</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="images/birch.png" alt="" /></span>
								<h3>Personal Use</h3>
								<p>Use this product to keep yourself in track and also compete with your friends!</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
									<li><a href="#" class="button alt">Get Started</a></li>
								</ul>
							</section>

						</div>
						<div class="col-6 col-12-narrower">

							<section class="box special">
								<span class="image featured"><img src="images/group.png" alt="" /></span>
								<h3>Commercial Use</h3>
								<p>For the companies, schools, and organizations who want a bit of friendly competition.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
									<li><a href="#" class="button alt">Get Started</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Sign up for our newsletter!</h2>
					<p>Learn about how our app works, thoughts, new app developments, and more!</p>

					<form>
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Submit" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Esteem Inc. All rights reserved.</li><li style="font-size: 0.75rem;">Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>